*{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 40px; 
    color: rgb(2, 233, 71);
    font-style: italic;
}

body p {font-family: "Karma", serif;
    font-size: 2.5vw;
    color: darkblue;
    font-style: italic;   
}

.color-change{
    padding: 30px;
}

.color-change:hover{
    color: rgb(255, 255, 255);
    background: rgb(0,0,0);
    color: green;
  transition: 0.7s;
}